body {
    padding: 69px 15px 20px;
}

table.table-center {
    margin: 0 auto !important;
    float: none !important;
}

table tbody tr td.cell {
    margin: 0;
    padding: 0;
    border: solid 1px grey;
    width: 20px;
    height: 20px;
}

table tbody tr td.cell.alive {
    background: black;
}