<div class="form-group text-center">
    <button class="btn btn-primary" ng-click="vm.startNewGame()">Start New Game</button>
    &nbsp;
    <button class="btn btn-default">Resume</button>
    &nbsp;
    <button class="btn btn-default" ng-click="vm.stop()">Stop</button>
</div>

<table class="table-center">
    <tbody>
        <tr ng-repeat="row in vm.game.board.squares track by $index">
            <td ng-repeat="cell in row track by $index" class="cell" ng-class="{ alive: cell }">
            </td>
        </tr>
    </tbody>
</table>
